#document-card{
  padding: 1.5in;
  width: 8.5in;
  min-height: 11in;
  text-align: justify;
}
@page {
  margin: 1.5in;
  size: 8.5in 11in;
  text-align: justify;
}
.document{
  font-size: 12pt;
  font-family: "Book Antiqua", "Times New Roman";
  text-align: justify;
  line-height: 150%;
}
.document section:first-child::before{
  content: '';
  background-image: url(../img/billseal.gif);
  height: 180px;
  display: block;
  background-repeat: no-repeat;
  background-position: left top;
}
[itemtype='longTitle']{
  text-transform: uppercase;
  font-weight: bold;
  /*margin-bottom: 0.2in;*/
}
[itemtype='preamble']{
  /*margin-bottom: 0.2in;*/
}
span[itemtype='text']::before{
  content: '  ';
}
[track='add']{
	color: blue;
}
.sections > .lineNumber{
  left: -10px;
}
[itemtype='section']{
  margin-left: 0.25in;
  -ah-line-number: show;
  -ah-line-number-font-family: "Book Antiqua", "Times New Roman";
  -ah-line-number-font-size: 12pt;
}
[itemtype='quote']{
  margin-left: 0.25in;
  -ah-line-number: show;
  -ah-line-number-font-family: "Book Antiqua", "Times New Roman";
  -ah-line-number-font-size: 12pt;
}
[itemtype='section']{
	text-indent: 0.2in;
}
[itemtype='quote'] > p{
	margin-top: 0.25in;
	text-indent: 0.2in;
}
/*[type='line-number'].sections{
	position: absolute;
	left: 50px;
	content: attr(line-number)
}*/