.content {
	padding: 1in;
}
[mode='preview'] .page, [mode='preview'] .content{
	width: 8.5in;
	height: 11in;
}
[itemtype=number]{
	font-weight: bold;
	text-transform: uppercase;
}
p[itemtype=text][level=subsection], p[itemtype=subsection]{
	text-indent: 2em;
}
p[itemtype=text][level=paragraph], p[itemtype=paragraph]{
	text-indent: 2em;
	margin-left: 2em;
}
p[itemtype=text][level=subparagraph], p[itemtype=subparagraph]{
	text-indent: 2em;
	margin-left: 4em;
	text-align: left;
}
[itemtype='section'] > [itemtype='number']::before{
	content: '(';
}
[itemtype='section'] > [itemtype='number']::after{
	content: ') ';
}
