.content{
  padding: 2in;
  text-align: justify;
}
[mode='edit'] .content{
  background-image: url(../img/background.gif);
}
[mode='preview'] .page{
  background-image: url(../img/background.gif);
}
@page{
  margin: 2in;
  size: 8.5in 11in;
  text-align: justify;
}
[mode='preview'] .page, [mode='preview'] .content {
	width: 8.5in;
	height: 11in;
}
.document{
  font-size: 11pt;
  font-family: "Times New Roman";
  text-align: justify;
  line-height: 150%;
}
.document section:first-child::before{
  content: '';
  background-image: url(../img/250px-Blason_-_Sable.png);
background-size: contain;
  height: 180px;
  display: block;
  background-repeat: no-repeat;
  background-position: center top;
}
[itemtype='longTitle']{
  text-transform: uppercase;
  font-weight: bold;
  /*margin-bottom: 0.2in;*/
}
[itemtype='preamble']{
  /*margin-bottom: 0.2in;*/
}
span[itemtype='text']::before{
  content: '  ';
}
[track='add']{
	color: blue;
}
.sections > .lineNumber{
  left: -10px;
}
[itemtype='section']{
  margin-left: 0.25in;
  -ah-line-number: show;
  -ah-line-number-font-family: "Book Antiqua", "Times New Roman";
  -ah-line-number-font-size: 12pt;
}
[itemtype='quote']{
  margin-left: 0.25in;
  -ah-line-number: show;
  -ah-line-number-font-family: "Book Antiqua", "Times New Roman";
  -ah-line-number-font-size: 12pt;
}
[itemtype='section']{
	text-indent: 0.2in;
}
[itemtype='quote'] > p{
	margin-top: 0.25in;
	text-indent: 0.2in;
}
/*[type='line-number'].sections{
	position: absolute;
	left: 50px;
	content: attr(line-number)
}*/