[mode='edit'] .content{
	background: #fff;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.content{
  padding: 1.5in;
  text-align: justify;
}
.format{
  min-height: 13in;
}
@page {
  margin: 1.5in;
  size: 8.5in 11in;
  text-align: justify;
  margin-bottom: 25px;
}
[mode='preview'] .page{
	padding-bottom: 1in;
}
[mode='preview'] .page, [mode='preview'] .content {
	width: 8.5in;
	height: 11in;
}
.document{
  font-size: 12pt;
  font-family: "Book Antiqua", "Times New Roman";
  text-align: justify;
  line-height: 150%;
}
.lineNumber {
  left: 1.25in;
}
.document[schema='bill'] section:first-child::before{
  content: '';
  background-image: url(../img/demoa.png);
  height: 180px;
  display: block;
  background-repeat: no-repeat;
  background-position: left top;
}
.document[schema='amendment'] section:first-child::before{
  content: 'Amendment';
  padding-top: 170px;
  font-weight: bold;
  font-style: italic;
  font-size: 22px;
  text-align: right;
  background-image: url(../img/demoa.png);
  height: 220px;
  display: block;
  background-repeat: no-repeat;
  background-position: left top;
}
[itemtype='longTitle']{
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0.4in !important;
  margin-bottom: 0.3in !important;
}
[itemtype='preamble']{
  margin-bottom: 0.2in !important;
}
span[itemtype='text']::before{
  content: '  ';
}
[track='add']{
	color: blue;
}
[itemtype='del']{
	color: red;
}
[itemtype='add']{
	font-weight: bold;
}
.sections > .lineNumber{
  left: -10px;
}
[itemtype='section'], [itemtype='subsection'], [itemtype='paragraph']{
  margin-left: 0.25in;
  -ah-line-number: show;
  -ah-line-number-font-family: "Book Antiqua", "Times New Roman";
  -ah-line-number-font-size: 12pt;
}
[itemtype='quote']{
  margin-left: 0.25in;
  -ah-line-number: show;
  -ah-line-number-font-family: "Book Antiqua", "Times New Roman";
  -ah-line-number-font-size: 12pt;
}
[itemtype='quote'] p:first-child::before{
  display: inline;
  content: '"';
}
[itemtype='quote'] p:last-child::after{
  display: inline;
  content: '"';
   text-indent: 0in;
}
[itemtype='section']{
	text-indent: 0.2in;
}
[itemtype='quote'] > p{
	margin-top: 0.25in;
	text-indent: 0.2in;
}
/*[type='line-number'].sections{
	position: absolute;
	left: 50px;
	content: attr(line-number)
}*/
[itemtype='body']{
	border-top: 1px dotted black;
	padding-top: 0.5in;
	margin-top: 0.5in;
}
[itemtype='billNumber']::before{
	content: 'To Senate Bill No. ';
}
[type='longTitleRef']::before{
	content: '"'
}
[type='longTitleRef']::after{
	content: '"'
}
[type='longTitleRef']{
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	font-style: italic;
	margin-top: 0.25in;
}
p[itemtype='amendment']{
	margin-bottom: 0.2in !important;
}
