<div ng-controller="newDocumentCtrl as newDocCtrl">
	<header id="header-2" data-current-skin="{{mactrl.currentSkin}}" class="legalhub-header">

		<ul class="header-inner clearfix">
			<li id="menu-trigger" data-target="mainmenu" data-toggle-sidebar data-model-left="mactrl.sidebarToggle.left" data-ng-class="{ 'open': mactrl.sidebarToggle.left === true }">
				<div class="line-wrap">
					<div class="line top"></div>
					<div class="line center"></div>
					<div class="line bottom"></div>
				</div>
			</li>

			<li class="logo hidden-xs">
				<a data-ui-sref="home">LegisHub : {{document.title}}</a>
			</li>

			<li class="pull-right">
				<ul class="top-menu">
					<li class="dropdown" uib-dropdown>
						<a uib-dropdown-toggle href="">
							<i class="tmn-counts">6</i>
							<i class="tm-icon zmdi zmdi-email"></i>
						</a>
						<div class="dropdown-menu dropdown-menu-lg pull-right">
							<div class="listview">
								<div class="lv-header">
									Messages
								</div>
								<div class="lv-body">
									<a class="lv-item" href="">
										<div class="media">
											<div class="pull-left">
												<img class="lv-img-sm" src="img/profile-pics/1.jpg" alt="">
											</div>
											<div class="media-body">
												<div class="lv-title">David Belle</div>
												<small class="lv-small">Cum sociis natoque penatibus et magnis dis parturient montes</small>
											</div>
										</div>
									</a>
									<a class="lv-item" href="">
										<div class="media">
											<div class="pull-left">
												<img class="lv-img-sm" src="img/profile-pics/2.jpg" alt="">
											</div>
											<div class="media-body">
												<div class="lv-title">Jonathan Morris</div>
												<small class="lv-small">Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</small>
											</div>
										</div>
									</a>
									<a class="lv-item" href="">
										<div class="media">
											<div class="pull-left">
												<img class="lv-img-sm" src="img/profile-pics/3.jpg" alt="">
											</div>
											<div class="media-body">
												<div class="lv-title">Fredric Mitchell Jr.</div>
												<small class="lv-small">Phasellus a ante et est ornare accumsan at vel magnauis blandit turpis at augue ultricies</small>
											</div>
										</div>
									</a>
									<a class="lv-item" href="">
										<div class="media">
											<div class="pull-left">
												<img class="lv-img-sm" src="img/profile-pics/4.jpg" alt="">
											</div>
											<div class="media-body">
												<div class="lv-title">Glenn Jecobs</div>
												<small class="lv-small">Ut vitae lacus sem ellentesque maximus, nunc sit amet varius dignissim, dui est consectetur neque</small>
											</div>
										</div>
									</a>
									<a class="lv-item" href="">
										<div class="media">
											<div class="pull-left">
												<img class="lv-img-sm" src="img/profile-pics/4.jpg" alt="">
											</div>
											<div class="media-body">
												<div class="lv-title">Bill Phillips</div>
												<small class="lv-small">Proin laoreet commodo eros id faucibus. Donec ligula quam, imperdiet vel ante placerat</small>
											</div>
										</div>
									</a>
								</div>
								<a class="lv-footer" href="">View All</a>
							</div>
						</div>
					</li>
					<li class="dropdown" uib-dropdown>
						<a uib-dropdown-toggle>
							<i class="tmn-counts">9</i>
							<i class="tm-icon zmdi zmdi-notifications"></i>
						</a>
						<div class="dropdown-menu dropdown-menu-lg pull-right">
							<div class="listview" id="notifications">
								<div class="lv-header">
									Notification

									<ul class="actions">
										<li class="dropdown">
											<a href="" data-clear="notification">
												<i class="zmdi zmdi-check-all"></i>
											</a>
										</li>
									</ul>
								</div>
								<div class="lv-body">
									<a class="lv-item" href="">
										<div class="media">
											<div class="pull-left">
												<img class="lv-img-sm" src="img/profile-pics/1.jpg" alt="">
											</div>
											<div class="media-body">
												<div class="lv-title">David Belle</div>
												<small class="lv-small">Cum sociis natoque penatibus et magnis dis parturient montes</small>
											</div>
										</div>
									</a>
									<a class="lv-item" href="">
										<div class="media">
											<div class="pull-left">
												<img class="lv-img-sm" src="img/profile-pics/2.jpg" alt="">
											</div>
											<div class="media-body">
												<div class="lv-title">Jonathan Morris</div>
												<small class="lv-small">Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</small>
											</div>
										</div>
									</a>
									<a class="lv-item" href="">
										<div class="media">
											<div class="pull-left">
												<img class="lv-img-sm" src="img/profile-pics/3.jpg" alt="">
											</div>
											<div class="media-body">
												<div class="lv-title">Fredric Mitchell Jr.</div>
												<small class="lv-small">Phasellus a ante et est ornare accumsan at vel magnauis blandit turpis at augue ultricies</small>
											</div>
										</div>
									</a>
									<a class="lv-item" href="">
										<div class="media">
											<div class="pull-left">
												<img class="lv-img-sm" src="img/profile-pics/4.jpg" alt="">
											</div>
											<div class="media-body">
												<div class="lv-title">Glenn Jecobs</div>
												<small class="lv-small">Ut vitae lacus sem ellentesque maximus, nunc sit amet varius dignissim, dui est consectetur neque</small>
											</div>
										</div>
									</a>
									<a class="lv-item" href="">
										<div class="media">
											<div class="pull-left">
												<img class="lv-img-sm" src="img/profile-pics/4.jpg" alt="">
											</div>
											<div class="media-body">
												<div class="lv-title">Bill Phillips</div>
												<small class="lv-small">Proin laoreet commodo eros id faucibus. Donec ligula quam, imperdiet vel ante placerat</small>
											</div>
										</div>
									</a>
								</div>

								<a class="lv-footer" href="">View Previous</a>
							</div>

						</div>
					</li>
					<li class="dropdown" uib-dropdown>
						<a uib-dropdown-toggle href="">
							<i class="tmn-counts">2</i>
							<i class="tm-icon zmdi zmdi-view-list-alt"></i>
						</a>
						<div class="dropdown-menu pull-right dropdown-menu-lg">
							<div class="listview">
								<div class="lv-header">
									Tasks
								</div>
								<div class="lv-body">
									<div class="lv-item">
										<div class="lv-title m-b-5">HTML5 Validation Report</div>

										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
												<span class="sr-only">95% Complete (success)</span>
											</div>
										</div>
									</div>
									<div class="lv-item">
										<div class="lv-title m-b-5">Google Chrome Extension</div>

										<div class="progress">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
												<span class="sr-only">80% Complete (success)</span>
											</div>
										</div>
									</div>
									<div class="lv-item">
										<div class="lv-title m-b-5">Social Intranet Projects</div>

										<div class="progress">
											<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
												<span class="sr-only">20% Complete</span>
											</div>
										</div>
									</div>
									<div class="lv-item">
										<div class="lv-title m-b-5">Bootstrap Admin Template</div>

										<div class="progress">
											<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
												<span class="sr-only">60% Complete (warning)</span>
											</div>
										</div>
									</div>
									<div class="lv-item">
										<div class="lv-title m-b-5">Youtube Client App</div>

										<div class="progress">
											<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
												<span class="sr-only">80% Complete (danger)</span>
											</div>
										</div>
									</div>
								</div>

								<a class="lv-footer" href="">View All</a>
							</div>
						</div>
					</li>
					<li class="dropdown" uib-dropdown>
						<a uib-dropdown-toggle href=""><i class="tm-icon zmdi zmdi-more-vert"></i></a>
						<ul class="dropdown-menu dm-icon pull-right">
							<li class="hidden-xs">
								<a data-ng-click="hctrl.fullScreen()" href=""><i class="zmdi zmdi-fullscreen"></i> Toggle Fullscreen</a>
							</li>
							<li>
								<a data-ng-click="hctrl.clearLocalStorage()" href=""><i class="zmdi zmdi-delete"></i> Clear Local Storage</a>
							</li>
							<li>
								<a href=""><i class="zmdi zmdi-face"></i> Privacy Settings</a>
							</li>
							<li>
								<a href=""><i class="zmdi zmdi-settings"></i> Other Settings</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>

		<nav class="ha-menu" ng-if="mode == 'edit'">
			<ul>
				<li class="waves-effect">
					<a data-ui-sref="home" ><i class="zmdi zmdi-home"></i> Home</a>
				</li>
				<li>
					<div class="waves-effect" data-ng-click="selectToolbar('file')" data-ng-class="{ 'toolbar-option-selected': selectedToolbar == 'file' }">File</div>
				</li>
				<li>
					<div class="waves-effect" data-ng-click="selectToolbar('schema')" data-ng-class="{ 'toolbar-option-selected': selectedToolbar == 'schema' }">Document Type</div>
				</li>
				<li>
					<div class="waves-effect" data-ng-click="selectToolbar('format')" data-ng-class="{ 'toolbar-option-selected': selectedToolbar == 'format' }">Format</div>
				</li>
				<li>
					<div class="waves-effect" data-ng-click="selectToolbar('insert')" data-ng-class="{ 'toolbar-option-selected': selectedToolbar == 'insert' }">Insert</div>
				</li>
				<li>
					<div class="waves-effect" data-ng-click="selectToolbar('themes')" data-ng-class="{ 'toolbar-option-selected': selectedToolbar == 'themes' }">Themes</div>
				</li>
			</ul>
		</nav>

		<nav class="toolbar-menu" ng-if="mode == 'edit' && selectedToolbar == 'file'">
			<button class="btn" ng-click="newDocument()">New</button>
			<!--<button class="btn" >Open...</button>-->
			<button class="btn" ng-click="saveDocument()">Save</button>

			<div class="dropdown stop-propagate" uib-dropdown style="display: inline-block">
				<button class="btn" uib-dropdown-toggle>Save as...</button>
				<ul class="dropdown-menu" style="padding: 10px">
					<li>
						<div class="form-group">
							<div class="fg-line">
								<input type="text" class="form-control input-sm" ng-model="document.title">
							</div>
						</div>
					</li>
					<li>
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-model="document.template">
								<i class="input-helper"></i>
								Template
							</label>
						</div>
					</li>
					<li><button class="btn pull-right" ng-click="saveDocument(true)">Save</button></li>
				</ul>
			</div>

			<div class="dropdown" uib-dropdown style="display: inline-block" id="fonts-menu">
				<div class="waves-effect btn btn-info" uib-dropdown-toggle><i class="zmdi zmdi-collection-case-play"></i> Export as...</div>
				<ul class="dropdown-menu">
					<li><a ng-click="generateRendition('uslm')">Xml USLM</a></li>
					<li><a ng-click="generateRendition('akn')">Xml AKN</a></li>
					<li><a ng-click="generateRendition('html')">Html</a></li>
					<li><a ng-click="generateRendition('pdf')">Pdf</a></li>
					<li><a ng-click="generateRendition('epub')">Epub</a></li>
				</ul>
			</div>
			
			<div class="dropdown" uib-dropdown style="display: inline-block" id="fonts-menu">
				<div class="waves-effect btn btn-info" uib-dropdown-toggle><i class="zmdi zmdi-collection-case-play"></i> Generate...</div>
				<ul class="dropdown-menu">
					<li><a ng-click="saveAndGenerateRendition('pdf', 'official')">Official Pdf</a></li>
				</ul>
			</div>
		</nav>

		<nav class="toolbar-menu" ng-if="mode == 'edit' && selectedToolbar == 'format'">

			<button class="btn btn-info" onclick="editor.setFormat('bold');"><i class="zmdi zmdi-format-bold"></i></button>
			<button class="btn btn-info" onclick="editor.setFormat('italic');"><i class="zmdi zmdi-format-italic"></i></button>
			<button class="btn btn-info" onclick="editor.setFormat('strikethrough');"><i class="zmdi zmdi-format-strikethrough"></i></button>
			<button class="btn btn-info" onclick="editor.setFormat('underlined');"><i class="zmdi zmdi-format-underlined"></i></button>
			<div class="dropdown" uib-dropdown style="display: inline-block" id="fonts-menu">
				<div class="waves-effect btn btn-info" uib-dropdown-toggle><i class="zmdi zmdi-font"></i> <span class="selected-option"></span></div>
				<ul class="dropdown-menu" id="fonts-options">
					<li><span class="font-option font-arial-helvetica" onmousedown="editor.setFormat('font-arial-helvetica');"> Arial, Helvetica</span></li>
					<li><span class="font-option font-times-new" onmousedown="editor.setFormat('font-times-new');"> Times New Roman, Times</span></li>
					<li><span class="font-option font-courier" onmousedown="editor.setFormat('font-courier');"> Courier New, Courier</span></li>
					<li><span class="font-option font-palatino" onmousedown="editor.setFormat('font-palatino');"> Palatino</span></li>
					<li><span class="font-option font-garamond" onmousedown="editor.setFormat('font-garamond');"> Garamond</span></li>
					<li><span class="font-option font-bookman" onmousedown="editor.setFormat('font-bookman');"> Bookman</span></li>
					<li><span class="font-option font-avant-garde" onmousedown="editor.setFormat('font-avant-garde');"> Avant Garde</span></li>
				</ul>
			</div>
			<div class="dropdown" uib-dropdown style="display: inline-block" id="font-color-menu">
				<div class="waves-effect btn btn-info" uib-dropdown-toggle><i class="zmdi zmdi-format-color-text"></i> <span class="selected-option"></span></div>
				<div class="dropdown-menu">
					<ng-farbtastic ng-model="fctrl.color"></ng-farbtastic>
				</div>
			</div>

			<span class="menu-spacer"> </span>
			<button class="btn bgm-teal" onclick="editor.setBlockFormat('center');"><i class="zmdi zmdi-format-align-center"></i></button>
			<button class="btn bgm-teal" onclick="editor.setBlockFormat('justify');"><i class="zmdi zmdi-format-align-justify"></i></button>
			<button class="btn bgm-teal" onclick="editor.setBlockFormat('left');"><i class="zmdi zmdi-format-align-left"></i></button>
			<button class="btn bgm-teal" onclick="editor.setBlockFormat('right');"><i class="zmdi zmdi-format-align-right"></i></button>

			<span class="menu-spacer"> </span>
			<div class="dropdown" uib-dropdown style="display: inline-block">
				<div class="waves-effect btn btn-info" uib-dropdown-toggle title="Toggle line numbers"><i class="zmdi zmdi-format-list-numbered"></i></div>
				<ul class="dropdown-menu">
					<li style="padding:5px; padding-left:10px;"><span onclick="editor.toggleLineNumbers('everything')"><i class="zmdi zmdi-format-list-numbered"></i> Everything</span></li>
					<li style="padding:5px; padding-left:10px;" ng-if="schema =='bill' "><span onclick="editor.toggleLineNumbers('sections')"><i class="zmdi zmdi-format-list-numbered"></i> Sections</span></li>
					<li style="padding:5px; padding-left:10px;" ng-if="schema =='amendment' "><span onclick="editor.toggleLineNumbers('body')"><i class="zmdi zmdi-format-list-numbered"></i> Body</span></li>
				</ul>
			</div>

		</nav>


		<nav class="toolbar-menu" ng-if="mode == 'edit' && selectedToolbar == 'insert'">

			<div class="dropdown stop-propagate" uib-dropdown style="display: inline-block">
				<div class="waves-effect btn btn-info" uib-dropdown-toggle title="Insert table..."><i class="zmdi zmdi-border-all"></i></div>
				<ul class="dropdown-menu" style="padding: 10px">
					<li>
							<div class="fg-line" style="display: inline-block">
								<input type="number" class="form-control input-sm" placeholder="Rows" ng-model="table.rows">
							</div>
					</li>
					<li>
							<div class="fg-line" style="display: inline-block">
								<input type="number" class="form-control input-sm" placeholder="Cols" ng-model="table.cols">
							</div>
					</li>
					<li>
						<div class="checkbox">
							<label>
								<input type="checkbox" id="includeTableHeader" ng-model="table.header">
								<i class="input-helper"></i>
								Header
							</label>
						</div>
					</li>
					<li><br/><button class="btn pull-right" ng-click="insertTable()">Insert</button></li>
				</ul>
			</div>

			<span class="menu-spacer"/>

			<!--<button class="btn bgm-teal" onclick="insertBlockQuote()"><i class="zmdi zmdi-link"></i></button>-->
			<!--<button class="btn btn-warning" onclick="insertBlockQuoteMichigan()"><i class="zmdi zmdi-link"></i></button>-->
			<button class="btn btn-warning" ng-click="diff()"><i class="zmdi zmdi-eye"></i></button>

			<div class="dropdown stop-propagate" uib-dropdown style="display: inline-block">
				<div class="waves-effect btn bgm-teal" uib-dropdown-toggle><i class="zmdi zmdi-quote"></i></div>
				<div class="dropdown-menu toolbar-submenu">
						<div class="form-group fg-line">
							<label class="sr-only" for="quotedReference">Reference</label>
							<input type="text" class="form-control input-sm" id="quotedReference" placeholder="Enter reference">
						</div>
				</div>
			</div>
		</nav>

		<nav class="toolbar-menu" ng-if="mode == 'edit' && selectedToolbar == 'schema'">
			<div class="dropdown" uib-dropdown style="display: inline-block" id="contextual-menu">
				<div class="waves-effect btn bgm-teal" uib-dropdown-toggle><i class="zmdi zmdi-labels"></i> {{schema}}</div>
				<ul class="dropdown-menu">
					<!--<li><a ng-click="setSchema()">Schemaless</a></li>-->
					<li><a ng-click="setSchema('bill')">Bill</a></li>
					<li><a ng-click="setSchema('amendment')">Amendment</a></li>
					<li><a ng-click="setSchema('general')">General-Purpose</a></li>
				</ul>
			</div>
			<span class="menu-spacer"> </span>
			<div class="dropdown" uib-dropdown style="display: inline-block" id="current-level-menu">
				<div class="waves-effect btn btn-default" uib-dropdown-toggle><i class="zmdi zmdi-label-alt"></i> <span class="selected-option"></span></div>
				<ul class="dropdown-menu" id="current-level-options">
				</ul>
			</div>
			<button class="btn btn-default"><i class="zmdi zmdi-format-indent-increase"></i></button>
			<button class="btn btn-default"><i class="zmdi zmdi-format-indent-decrease"></i></button>

			<div class="dropdown stop-propagate" uib-dropdown style="display: inline-block" id="contextual-menu">
				<div class="waves-effect btn bgm-teal" uib-dropdown-toggle><i class="zmdi zmdi-eye"></i> <span class="selected-option"></span></div>
				<div class="dropdown-menu toolbar-submenu">
				</div>
			</div>
			<span class="menu-spacer"> </span>
			<button class="btn btn-warning" ng-click="diff()"><i class="zmdi zmdi-check-all"></i></button>
		</nav>

		<nav class="toolbar-menu" ng-if="mode == 'edit' && selectedToolbar == 'themes'">
			<button class="btn" ng-click="setStyle('default')">Desktop</button>
			<!--<button class="btn" onClick="setPageStyle('paper')">Paper</button>-->
			<button class="btn" ng-click="setStyle('demoa')">State Demo A</button>
			<button class="btn" ng-click="setStyle('demob')">State Demo B</button>
			<button class="btn" ng-click="setStyle('democ')">State Demo C</button>
		</nav>

		<div class="skin-switch dropdown hidden-xs" uib-dropdown ng-if="mode == 'edit'">
			<button uib-dropdown-toggle class="btn ss-icon"><i class="zmdi zmdi-wrench"></i></button>
			<div class="dropdown-menu">
				<span class="ss-skin zmdi zmdi-undo" title="Undo"></span>
				<span class="ss-skin zmdi zmdi-redo" title="Redo"></span>
				<span class="ss-skin zmdi zmdi-copy" title="Copy"></span>
				<span class="ss-skin zmdi zmdi-paste" title="Paste"></span>
				<span class="ss-skin zmdi zmdi-code" title="Show tags"></span>
				<span class="ss-skin zmdi zmdi-comments" title="Collaboration"></span>
				<span class="ss-skin zmdi zmdi-time-restore" title="History of changes"></span>
				<span class="ss-skin zmdi zmdi-wrench"></span>
			</div>
		</div>


	</header>
-->
<!--<header id="header-2" data-current-skin="{{mactrl.currentSkin}}" data-ng-include src="'view/modules/document/new-document-header.html'" data-ng-controller="headerCtrl as hctrl"></header>-->

	<section id="main">
		<aside id="sidebar" data-ng-include src="'view/modules/home/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

		<aside id="chat" data-ng-include src="'view/modules/home/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

		<section id="content" class="page-view">
		<div class="container" >
		<div ng-if="mode == 'new'">

			<div class="row">
				<div class="col-sm-3">
					<div class="card">
						<div class="card-header bgm-bluegray m-b-20">
							<h2>Bill</h2>
							<button class="btn bgm-green btn-float waves-effect" ng-click="setTemplate('bill')"><i class="zmdi zmdi-mail-send zmdi-hc-fw"></i></button>
						</div>
						<div class="card-body card-padding">
						Bill template is used for describing the structure and content of a bill.
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="card">
						<div class="card-header bgm-bluegray m-b-20">
							<h2>Act</h2>
							<button class="btn bgm-green btn-float waves-effect"><i class="zmdi zmdi-mail-send zmdi-hc-fw"></i></button>
						</div>
						<div class="card-body card-padding">
							Act template is used for describing the structure and content of an act.
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="card">
						<div class="card-header bgm-bluegray m-b-20">
							<h2>Amendment</h2>
							<button class="btn bgm-green btn-float waves-effect" ng-click="setTemplate('amendment')"><i class="zmdi zmdi-mail-send zmdi-hc-fw"></i></button>
						</div>
						<div class="card-body card-padding">
						Amendment template specifies the overall content model of the document types that describe amendments.
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="card">
						<div class="card-header bgm-bluegray m-b-20">
							<h2>Debate</h2>
							<button class="btn bgm-green btn-float waves-effect"><i class="zmdi zmdi-mail-send zmdi-hc-fw"></i></button>
						</div>
						<div class="card-body card-padding">
						Debate template specifies the overall content model of the document types that describe debates.
						</div>
					</div>
				</div>
				</div>
				<div class="row">
				<div class="col-sm-3">
					<div class="card">
						<div class="card-header bgm-bluegray m-b-20">
							<h2>Judgement</h2>
							<button class="btn bgm-green btn-float waves-effect"><i class="zmdi zmdi-mail-send zmdi-hc-fw"></i></button>
						</div>
						<div class="card-body card-padding">
						Judgement template specifies the overall content model of the document types that describe judgments.
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="card">
						<div class="card-header bgm-bluegray m-b-20">
							<h2>Open Structure</h2>
							<button class="btn bgm-gray btn-float waves-effect" ng-click="setTemplate('empty')"><i class="zmdi zmdi-mail-send zmdi-hc-fw"></i></button>
						</div>
						<div class="card-body card-padding">
						Open template specifies the overall content model of all the document types that do not have a specific and peculiar structure.
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="card">
						<div class="card-header bgm-bluegray m-b-20">
							<h2>Collection Structure</h2>
							<button class="btn bgm-gray btn-float waves-effect"><i class="zmdi zmdi-mail-send zmdi-hc-fw"></i></button>
						</div>
						<div class="card-body card-padding">
						Collection template specifies the overall content model of the document types that are collections of other documents.
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="card">
						<div class="card-header bgm-bluegray m-b-20">
							<h2>Portion Structure</h2>
							<button class="btn bgm-gray btn-float waves-effect"><i class="zmdi zmdi-mail-send zmdi-hc-fw"></i></button>
						</div>
						<div class="card-body card-padding">
						Portion template specifies the overall content model of the document type that is a portion of another document.
						</div>
					</div>
				</div>
			</div>

		</div>
		<div ng-if="mode == 'edit'">

			  <div class="card" id="document-card">
					<div style="display:flex;">
						<div ng-bind-html="getHtml(document.content)" style="flex:1;" id="editor" contenteditable="true" class="document" ng-init="initEditor()">
						</div>
					</div>
			  </div>
		</div>
	</div>

		</section>

	</section>

	<footer id="footer" data-ng-include src="'view/modules/home/footer.html'"></footer>
</div>
