<div class="chat-search">
    <div class="fg-line">
        <input type="text" class="form-control" placeholder="Search People">
    </div>
</div>

<div class="listview">
    <a class="lv-item" href="" ng-repeat="user in mactrl.users" ng-if="user.name != mactrl.userData.name">
        <div class="media">
            <div class="pull-left p-relative">
                <i class="zmdi zmdi-face" style="font-size:36px;"></i>
                <i class="chat-status-busy"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">{{user.firstName}}</div>
                <small class="lv-small">Available</small>
            </div>
        </div>
    </a>
</div>
