<div ng-controller="newDocumentCtrl as newDocCtrl">
	<header id="header-2" data-current-skin="{{mactrl.currentSkin}}" class="legalhub-header">
		
		<div data-ng-include="'web-client/modules/home/header.html'" data-ng-controller="headerCtrl as hctrl"></div>
	
		<nav class="ha-menu" ng-if="mode == 'edit'">
			<ul>
				<li class="waves-effect">
					<a data-ui-sref="home" ><i class="zmdi zmdi-home"></i> Home</a>
				</li>
				<li>
					<div class="waves-effect" data-ng-click="selectToolbar('file')" data-ng-class="{ 'toolbar-option-selected': selectedToolbar == 'file' }">File</div>
				</li>
				<li>
					<div class="waves-effect" data-ng-click="selectToolbar('view')" data-ng-class="{ 'toolbar-option-selected': selectedToolbar == 'view' }">View</div>
				</li>
				<li>
					<div class="waves-effect" data-ng-click="selectToolbar('format')" data-ng-class="{ 'toolbar-option-selected': selectedToolbar == 'format' }">Format</div>
				</li>
				<li>
					<div class="waves-effect" data-ng-click="selectToolbar('insert')" data-ng-class="{ 'toolbar-option-selected': selectedToolbar == 'insert' }">Insert</div>
				</li>
				<li>
					<div class="waves-effect" data-ng-click="selectToolbar('schema')" data-ng-class="{ 'toolbar-option-selected': selectedToolbar == 'schema' }">Document Type</div>
				</li>
			</ul>
		</nav>

		<nav class="toolbar-menu" ng-if="mode == 'edit' && selectedToolbar == 'file'">
			<button class="btn" ng-click="newDocument()">New</button>
			<!--<button class="btn" >Open...</button>-->
			<button class="btn" ng-click="saveDocument()">Save</button>

			<div class="dropdown stop-propagate" uib-dropdown style="display: inline-block">
				<button class="btn" uib-dropdown-toggle>Save as...</button>
				<ul class="dropdown-menu" style="padding: 10px">
					<li>
						<div class="form-group">
							<div class="fg-line">
								<input type="text" class="form-control input-sm" ng-model="document.title">
							</div>
						</div>
					</li>
					<li>
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-model="document.template">
								<i class="input-helper"></i>
								Template
							</label>
						</div>
					</li>
					<li><button class="btn pull-right" ng-click="saveDocument(true)">Save</button></li>
				</ul>
			</div>

			<div class="dropdown" uib-dropdown style="display: inline-block" id="fonts-menu">
				<div class="waves-effect btn btn-info" uib-dropdown-toggle><i class="zmdi zmdi-collection-case-play"></i> Export as...</div>
				<ul class="dropdown-menu">
					<li><a ng-click="generateRendition('uslm')">Xml USLM</a></li>
					<li><a ng-click="generateRendition('akn')">Xml AKN</a></li>
					<li><a ng-click="generateRendition('html')">Html</a></li>
					<li><a ng-click="generateRendition('pdf')">Pdf</a></li>
					<li><a ng-click="generateRendition('epub')">Epub</a></li>
					<li><a>Word</a></li>
				</ul>
			</div>

			<div class="dropdown" uib-dropdown style="display: inline-block" id="fonts-menu">
				<div class="waves-effect btn btn-info" uib-dropdown-toggle><i class="zmdi zmdi-collection-case-play"></i> Generate...</div>
				<ul class="dropdown-menu">
					<li><a ng-click="saveAndGenerateRendition('pdf', 'official')">Official Pdf</a></li>
				</ul>
			</div>
		</nav>

		<nav class="toolbar-menu" ng-if="mode == 'edit' && selectedToolbar == 'format'">

			<button class="btn btn-info" onclick="editor.setFormat('bold');"><i class="zmdi zmdi-format-bold"></i></button>
			<button class="btn btn-info" onclick="editor.setFormat('italic');"><i class="zmdi zmdi-format-italic"></i></button>
			<button class="btn btn-info" onclick="editor.setFormat('strikethrough');"><i class="zmdi zmdi-format-strikethrough"></i></button>
			<button class="btn btn-info" onclick="editor.setFormat('underlined');"><i class="zmdi zmdi-format-underlined"></i></button>
			<div class="dropdown" uib-dropdown style="display: inline-block" id="fonts-menu">
				<div class="waves-effect btn btn-info" uib-dropdown-toggle><i class="zmdi zmdi-font"></i> <span class="selected-option"></span></div>
				<ul class="dropdown-menu" id="fonts-options">
					<li><span class="font-option font-arial-helvetica" onmousedown="editor.setFormat('font-arial-helvetica');"> Arial, Helvetica</span></li>
					<li><span class="font-option font-times-new" onmousedown="editor.setFormat('font-times-new');"> Times New Roman, Times</span></li>
					<li><span class="font-option font-courier" onmousedown="editor.setFormat('font-courier');"> Courier New, Courier</span></li>
					<li><span class="font-option font-palatino" onmousedown="editor.setFormat('font-palatino');"> Palatino</span></li>
					<li><span class="font-option font-garamond" onmousedown="editor.setFormat('font-garamond');"> Garamond</span></li>
					<li><span class="font-option font-bookman" onmousedown="editor.setFormat('font-bookman');"> Bookman</span></li>
					<li><span class="font-option font-avant-garde" onmousedown="editor.setFormat('font-avant-garde');"> Avant Garde</span></li>
				</ul>
			</div>
			<div class="dropdown" uib-dropdown style="display: inline-block" id="font-color-menu">
				<div class="waves-effect btn btn-info" uib-dropdown-toggle><i class="zmdi zmdi-format-color-text"></i> <span class="selected-option"></span></div>
				<div class="dropdown-menu">
					<ng-farbtastic ng-model="fctrl.color"></ng-farbtastic>
				</div>
			</div>

			<span class="menu-spacer"> </span>
			<button class="btn bgm-teal" onclick="editor.setBlockFormat('center');"><i class="zmdi zmdi-format-align-center"></i></button>
			<button class="btn bgm-teal" onclick="editor.setBlockFormat('justify');"><i class="zmdi zmdi-format-align-justify"></i></button>
			<button class="btn bgm-teal" onclick="editor.setBlockFormat('left');"><i class="zmdi zmdi-format-align-left"></i></button>
			<button class="btn bgm-teal" onclick="editor.setBlockFormat('right');"><i class="zmdi zmdi-format-align-right"></i></button>

		</nav>

		<nav class="toolbar-menu" ng-if="mode == 'edit' && selectedToolbar == 'insert'">

			<div class="dropdown stop-propagate" uib-dropdown style="display: inline-block">
				<div class="waves-effect btn btn-info" uib-dropdown-toggle title="Insert table..."><i class="zmdi zmdi-border-all"></i></div>
				<ul class="dropdown-menu" style="padding: 10px">
					<li>
							<div class="fg-line" style="display: inline-block">
								<input type="number" class="form-control input-sm" placeholder="Rows" ng-model="table.rows">
							</div>
					</li>
					<li>
							<div class="fg-line" style="display: inline-block">
								<input type="number" class="form-control input-sm" placeholder="Cols" ng-model="table.cols">
							</div>
					</li>
					<li>
						<div class="checkbox">
							<label>
								<input type="checkbox" id="includeTableHeader" ng-model="table.header">
								<i class="input-helper"></i>
								Header
							</label>
						</div>
					</li>
					<li><br/><button class="btn pull-right" ng-click="insertTable()">Insert</button></li>
				</ul>
			</div>

			<span class="menu-spacer"/>

			<!--<button class="btn bgm-teal" onclick="insertBlockQuote()"><i class="zmdi zmdi-link"></i></button>-->
			<!--<button class="btn btn-warning" onclick="insertBlockQuoteMichigan()"><i class="zmdi zmdi-link"></i></button>-->
			<button class="btn btn-warning" ng-click="diff()"><i class="zmdi zmdi-eye"></i></button>

			<div class="dropdown stop-propagate" uib-dropdown style="display: inline-block">
				<div class="waves-effect btn bgm-teal" uib-dropdown-toggle><i class="zmdi zmdi-quote"></i></div>
				<div class="dropdown-menu toolbar-submenu">
						<div class="form-group fg-line">
							<label class="sr-only" for="quotedReference">Reference</label>
							<input type="text" class="form-control input-sm" id="quotedReference" placeholder="Enter reference">
						</div>
				</div>
			</div>
		</nav>

		<nav class="toolbar-menu" ng-if="mode == 'edit' && selectedToolbar == 'schema'">
			<div class="dropdown" uib-dropdown style="display: inline-block" id="contextual-menu">
				<div class="waves-effect btn bgm-teal" uib-dropdown-toggle><i class="zmdi zmdi-labels"></i> {{schema}}</div>
				<ul class="dropdown-menu">
					<!--<li><a ng-click="setSchema()">Schemaless</a></li>-->
					<li><a ng-click="setSchema('bill')">Bill</a></li>
					<li><a ng-click="setSchema('amendment')">Amendment</a></li>
					<li><a ng-click="setSchema('general')">General-Purpose</a></li>
				</ul>
			</div>
			<span class="menu-spacer"> </span>
			<div class="dropdown" uib-dropdown style="display: inline-block" id="current-level-menu">
				<div class="waves-effect btn btn-default" uib-dropdown-toggle><i class="zmdi zmdi-label-alt"></i> <span class="selected-option"></span></div>
				<ul class="dropdown-menu" id="current-level-options">
				</ul>
			</div>
			<button class="btn btn-default"><i class="zmdi zmdi-format-indent-increase"></i></button>
			<button class="btn btn-default"><i class="zmdi zmdi-format-indent-decrease"></i></button>

			<div class="dropdown stop-propagate" uib-dropdown style="display: inline-block" id="contextual-menu">
				<div class="waves-effect btn bgm-teal" uib-dropdown-toggle><i class="zmdi zmdi-eye"></i> <span class="selected-option"></span></div>
				<div class="dropdown-menu toolbar-submenu">
				</div>
			</div>
			<span class="menu-spacer"> </span>
			<button class="btn btn-warning" ng-click="diff()"><i class="zmdi zmdi-check-all"></i></button>
		</nav>

		<nav class="toolbar-menu" ng-if="mode == 'edit' && selectedToolbar == 'view'">
			<div class="btn-group">
				<label class="btn btn-default" ng-model="editorMode" ng-click="setEditorMode('edit')" uib-btn-radio="'edit'">Edition</label>
				<label class="btn btn-default" ng-model="editorMode" ng-click="setEditorMode('preview')" uib-btn-radio="'preview'">Print Preview</label>
			</div>
			<span class="menu-spacer"> </span>
			<div class="waves-effect btn btn-info" uib-dropdown-toggle ng-disabled="editorMode != 'preview'" title="Rulers"><i class="zmdi zmdi-ruler"></i></div>
			<div class="dropdown" uib-dropdown style="display: inline-block">
				<div class="waves-effect btn btn-info" uib-dropdown-toggle ng-disabled="editorMode != 'preview'" title="Line numbers"><i class="zmdi zmdi-format-list-numbered"></i></div>
				<ul class="dropdown-menu">
					<li style="padding:5px; padding-left:10px;"><span onclick="editor.toggleLineNumbers('everything')"><i class="zmdi zmdi-format-list-numbered"></i> All</span></li>
					<li style="padding:5px; padding-left:10px;" ng-if="schema =='bill' "><span onclick="editor.toggleLineNumbers('sections')"><i class="zmdi zmdi-format-list-numbered"></i> Sections</span></li>
					<li style="padding:5px; padding-left:10px;" ng-if="schema =='amendment' "><span onclick="editor.toggleLineNumbers('body')"><i class="zmdi zmdi-format-list-numbered"></i> Body</span></li>
					<li style="padding:5px; padding-left:10px;"><span ><i class="zmdi zmdi-format-list-numbered"></i> Page per page</span></li>
				</ul>
			</div>
			<span class="menu-spacer"></span>
			<div class="btn-group">
				<label class="btn btn-default" ng-model="style" ng-click="setStyle('default')" uib-btn-radio="'default'">Default</label>
				<label class="btn btn-default" ng-model="style" ng-click="setStyle('demoa')" uib-btn-radio="'demoa'">State A</label>
				<label class="btn btn-default" ng-model="style" ng-click="setStyle('demob')" uib-btn-radio="'demob'">State B</label>
				<label class="btn btn-default" ng-model="style" ng-click="setStyle('democ')" uib-btn-radio="'democ'">State C</label>
			</div>
			
		</nav>

		<div class="skin-switch dropdown hidden-xs" uib-dropdown ng-if="mode == 'edit'">
			<button uib-dropdown-toggle class="btn ss-icon"><i class="zmdi zmdi-wrench"></i></button>
			<div class="dropdown-menu">
				<span class="ss-skin zmdi zmdi-undo" title="Undo"></span>
				<span class="ss-skin zmdi zmdi-redo" title="Redo"></span>
				<span class="ss-skin zmdi zmdi-copy" title="Copy"></span>
				<span class="ss-skin zmdi zmdi-paste" title="Paste"></span>
				<span class="ss-skin zmdi zmdi-code" title="Show tags"></span>
				<span class="ss-skin zmdi zmdi-comments" title="Collaboration"></span>
				<span class="ss-skin zmdi zmdi-time-restore" title="History of changes"></span>
				<span class="ss-skin zmdi zmdi-wrench"></span>
			</div>
		</div>

	</header>

	<section id="main">
		<aside id="sidebar" data-ng-include src="'web-client/modules/home/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

		<aside id="chat" data-ng-include src="'web-client/modules/home/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

		<section id="content" class="page-view">
		<div class="container" >
		<div ng-if="mode == 'new'">

			<div class="row">
				<div class="col-sm-3">
					<div class="card">
						<div class="card-header bgm-bluegray m-b-20">
							<h2>Bill</h2>
							<button class="btn bgm-green btn-float waves-effect" ng-click="setTemplate('bill')"><i class="zmdi zmdi-mail-send zmdi-hc-fw"></i></button>
						</div>
						<div class="card-body card-padding">
						Bill template is used for describing the structure and content of a bill.
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="card">
						<div class="card-header bgm-bluegray m-b-20">
							<h2>Act</h2>
							<button class="btn bgm-green btn-float waves-effect"><i class="zmdi zmdi-mail-send zmdi-hc-fw"></i></button>
						</div>
						<div class="card-body card-padding">
							Act template is used for describing the structure and content of an act.
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="card">
						<div class="card-header bgm-bluegray m-b-20">
							<h2>Amendment</h2>
							<button class="btn bgm-green btn-float waves-effect" ng-click="setTemplate('amendment')"><i class="zmdi zmdi-mail-send zmdi-hc-fw"></i></button>
						</div>
						<div class="card-body card-padding">
						Amendment template specifies the overall content model of the document types that describe amendments.
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="card">
						<div class="card-header bgm-bluegray m-b-20">
							<h2>Debate</h2>
							<button class="btn bgm-green btn-float waves-effect"><i class="zmdi zmdi-mail-send zmdi-hc-fw"></i></button>
						</div>
						<div class="card-body card-padding">
						Debate template specifies the overall content model of the document types that describe debates.
						</div>
					</div>
				</div>
				</div>
				<div class="row">
				<div class="col-sm-3">
					<div class="card">
						<div class="card-header bgm-bluegray m-b-20">
							<h2>Judgement</h2>
							<button class="btn bgm-green btn-float waves-effect"><i class="zmdi zmdi-mail-send zmdi-hc-fw"></i></button>
						</div>
						<div class="card-body card-padding">
						Judgement template specifies the overall content model of the document types that describe judgments.
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="card">
						<div class="card-header bgm-bluegray m-b-20">
							<h2>Open Structure</h2>
							<button class="btn bgm-gray btn-float waves-effect" ng-click="setTemplate('empty')"><i class="zmdi zmdi-mail-send zmdi-hc-fw"></i></button>
						</div>
						<div class="card-body card-padding">
						Open template specifies the overall content model of all the document types that do not have a specific and peculiar structure.
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="card">
						<div class="card-header bgm-bluegray m-b-20">
							<h2>Collection Structure</h2>
							<button class="btn bgm-gray btn-float waves-effect"><i class="zmdi zmdi-mail-send zmdi-hc-fw"></i></button>
						</div>
						<div class="card-body card-padding">
						Collection template specifies the overall content model of the document types that are collections of other documents.
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="card">
						<div class="card-header bgm-bluegray m-b-20">
							<h2>Portion Structure</h2>
							<button class="btn bgm-gray btn-float waves-effect"><i class="zmdi zmdi-mail-send zmdi-hc-fw"></i></button>
						</div>
						<div class="card-body card-padding">
						Portion template specifies the overall content model of the document type that is a portion of another document.
						</div>
					</div>
				</div>
			</div>

		</div>
		<div ng-if="mode == 'edit'">

			<div id="editor" class="editor document" ng-init="initEditor()" schema="{{schema}}">
			</div>
			  <!--<div class="card">
					<div style="display:flex;">
						<div style="flex:1;" id="editor" contenteditable="true" ng-init="initEditor()" schema="{{schema}}">
						</div>
					</div>
			  </div>-->
		</div>
	</div>

		</section>

	</section>

	<footer id="footer" data-ng-include src="'web-client/modules/home/footer.html'"></footer>
</div>
