.toolbar-menu{
	height: 45px;
}
.toolbar-submenu{
	padding: 20px;
}
.menu-spacer{
	padding-left: 25px;
}
#header-2 {
    position: fixed;
	width: 100%;
}
#header-2 + #main{
	margin-top: 70px;
}
#awaiting-stack .amendment-card{
	background-color: #009688 !important;
	transition:all 0.5s linear;
}
#adopted-stack .amendment-card{
	background-color: #8BC34A !important;
}
#rejected-stack .amendment-card{
	background-color: #9E9E9E !important;
}
.amendment-card{
	color:white;
	position: absolute;
	vertical-align:middle;
	width: 180px;
	height: 270px;
}
#awaiting-stack .amendment-card:not(.gu-transit){
	opacity:0.1;
}
#awaiting-stack .amendment-card:last-child:not(.gu-transit){
	opacity: 1;
}
#awaiting-stack .amendment-card:nth-child(1):not(.gu-transit):not(.ng-leave){
	left: 20px;
}
#awaiting-stack .amendment-card:nth-child(2):not(.gu-transit):not(.ng-leave){
	left: 40px;
}
#awaiting-stack .amendment-card:nth-child(3):not(.gu-transit):not(.ng-leave){
	left: 60px;
}
#awaiting-stack .amendment-card:nth-child(4):not(.gu-transit):not(.ng-leave){
	left: 80px;
}
#awaiting-stack .amendment-card:nth-child(5):not(.gu-transit):not(.ng-leave){
	left: 100px;
}
#awaiting-stack .amendment-card:nth-child(6):not(.gu-transit):not(.ng-leave){
	left: 120px;
}
#awaiting-stack .amendment-card:nth-child(7):not(.gu-transit):not(.ng-leave){
	left: 140px;
}
#awaiting-stack .amendment-card:nth-child(8):not(.gu-transit):not(.ng-leave){
	left: 160px;
}
#awaiting-stack .amendment-card:nth-child(9):not(.gu-transit):not(.ng-leave){
	left: 180px;
}
#awaiting-stack .amendment-card:nth-child(10):not(.gu-transit):not(.ng-leave){
	left: 200px;
}
.logo-footer{
	background: url(../img/irosoft_gray.png) no-repeat center center;
	background-size:contain;
	width: 80px;
	height: 30px;
	margin: auto;
}

.logo-legishub{
	background: url(../img/irosoft_legishub_white.png) no-repeat 10px 0px;
	background-size:contain;
	min-width: 260px;
	text-indent: 80px;
}
#pdf-holder > canvas{
	margin: auto;
	width: 100%;
}

/*  Editor components */
.editor {
	position: relative;
	padding-bottom: 50px;
}
.content {
	position: absolute;
	top: 0px;
	left:0px;
	min-height: 1in;
}
.format {
	top: 0px;
	left:0px;
	z-index: -1;
}
.page {
	background: #fff;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.lineNumber{
	position: absolute;
}
