<header id="header-2" data-current-skin="{{mactrl.currentSkin}}" data-ng-include src="'view/modules/document/new-document-header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include src="'view/modules/home/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include src="'view/modules/home/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content" class="page-view" data-ui-view></section>

</section>

<footer id="footer" data-ng-include src="'view/modules/home/footer.html'"></footer>