<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'view/modules/home/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
  <aside id="sidebar" data-ng-include="'view/template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }" ng-controller="sideLeftCtrl"></aside>

  <aside id="chat" data-ng-include="'view/template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

  <section id="content">

    <div class="container" data-ng-controller="engrossCtrl as eCtrl">

      <div class="card">
        <div class="card-header">
          <h3 style="margin-top:0px;">{{title}} <small>Step {{currentStep}} / {{totalSteps}}</small>
            <button class="btn btn-warning btn-icon pull-right" style="margin-left:25px;" ng-if="currentStep != totalSteps" ng-disabled="!allowedToGo()" ng-click="nextStep()"><i class="zmdi zmdi-arrow-right"></i></button>
            <button class="btn btn-warning btn-icon pull-right" ng-if="currentStep != 1 && currentStep != totalSteps" ng-click="previousStep()"><i class="zmdi zmdi-arrow-left"></i></button>
			<button class="btn btn-success btn-icon pull-right" ng-if="currentStep == totalSteps" ng-click="confirm()"><i class="zmdi zmdi-check"></i></button>
          </h3>
          <p ng-if="currentStep == 1">Adopted amendments: Drag and drop from the awaiting stack into the corresponding state.</p>
          <p ng-if="currentStep == 2">Conflict Management: Amendments will be applied in the same order as thery arelisted below.</p>
          <p ng-if="currentStep == 3">Engrossing: Preview of the engrossed document.</p>
        </div>

        <div class="card-body">


          <div class="container" >

            <div class="row col-md-12" ng-if="currentStep == 1">
              <div class="col-md-6">


        			  <div class="card">
        				<div class="card-header ch-alt">
        					<h2>Awaiting incorporation ({{awaiting.length}})</h2>
        				</div>
        				<div class="card-body card-padding" style="min-height: 320px;" id="awaiting-stack">


        					<div class="animated bgm-teal amendment-card" ng-repeat="amendment in awaiting" id="amendment{{$index}}" amendment-id="{{amendment.id}}" style="visibility: hidden;">
                    <p><center style="vertical-align:middle;"><br/>{{amendment.title}}</center></p>
                  </div>


        				</div>
        			  </div>

              </div>
      			  <div class="col-md-3">

        			  <div class="card">
        				<div class="card-header ch-alt">
        					<h2>Adopted ({{adopted.length}})</h2>
        				</div>
        				<div class="card-body card-padding" style="min-height: 320px;" id="adopted-stack">

                  <div class="animated amendment-card" ng-repeat="amendment in adopted" amendment-id="{{amendment.id}}">
                    <p><center style="vertical-align:middle;"><br/>{{amendment.title}}</center></p>
                  </div>

        				</div>
        			  </div>

      			  </div>
      			  <div class="col-md-3">

        			  <div class="card">
        				<div class="card-header ch-alt">
        					<h2>Rejected ({{rejected.length}})</h2>
        				</div>
        				<div class="card-body card-padding" style="min-height: 320px;" id="rejected-stack">

                  <div class="animated amendment-card" ng-repeat="amendment in rejected" amendment-id="{{amendment.id}}">
                    <p><center style="vertical-align:middle;"><br/>{{amendment.title}}</center></p>
                  </div>

        				</div>
        			  </div>

      			  </div>
            </div>

            <div class="row col-md-12" ng-if="currentStep == 2">

              <div class="card rating-list">
                <div class="card-header ch-alt">
                  <h2>Adopting {{adopted.length}} amendments.<div class="pull-right" ng-if="totalConflicts>0">Total conflicts: {{totalConflicts}}</div></h2>
                </div>
                <div class="listview">

                  <div class="lv-body">
                    <div class="p-15">
                      <div class="lv-item" ng-repeat="amendment in adopted">
                        <div class="media">
                          <div class="pull-left">{{amendment.title}} <i class="zmdi zmdi-caret-down" style="font-size:18px;"></i> </div>

                          <div class="pull-right">{{(amendment.conflicts > 0 ? amendment.conflicts + ' / ' : '') + amendment.amendments}}</div>

                          <div class="media-body">
                            <div class="progress">
                              <div class="progress-bar" ng-class="{'progress-bar-danger' : amendment.conflicts > 0}" role="progressbar" aria-valuenow="{{amendment.conflicts}}" aria-valuemin="0" aria-valuemax="{{amendment.amendments}}" style="width: {{((amendment.amendments - amendment.conflicts) / amendment.amendments)*100}}%">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!--<div class="lv-item">
                        <div class="media">
                          <div class="pull-left">
                            2 <i class="zmdi zmdi-assignment-alert"></i>
                          </div>

                          <div class="pull-right">45</div>

                          <div class="media-body">
                            <div class="progress">
                              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="lv-item">
                        <div class="media">
                          <div class="pull-left">
                            3 <i class="zmdi zmdi-star"></i>
                          </div>

                          <div class="pull-right">60</div>

                          <div class="media-body">
                            <div class="progress">
                              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="lv-item">
                        <div class="media">
                          <div class="pull-left">
                            4 <i class="zmdi zmdi-star"></i>
                          </div>

                          <div class="pull-right">78</div>

                          <div class="media-body">
                            <div class="progress">
                              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="lv-item">
                        <div class="media">
                          <div class="pull-left">
                            5 <i class="zmdi zmdi-star"></i>
                          </div>

                          <div class="pull-right">22</div>

                          <div class="media-body">
                            <div class="progress">
                              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="22" aria-valuemin="0" aria-valuemax="100" style="width: 22%">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>-->

                    </div>
                  </div>
                </div>
              </div>


            </div>

          </div>

		  
		  <div class="row" ng-if="currentStep == 3">
			<div style="margin: 50px;" ng-bind-html="getHtml(engrossedContent)">
			</div>
		  </div>
		  
        </div>
      </div>

    </div>
  </section>
</section>

<footer id="footer" data-ng-include="'view/template/footer.html'"></footer>
