.line-number{
  position: absolute;
  margin: 0;
  padding: 0;
}
/*#line-numbers{
	flex: 0 0 0px;
	border-right: 1px solid;
	margin-right:-1px;
	width: 25px;
	left: 150px;
    position: relative;
}*/
span[itemtype=quote]::before{
	content: '“'
}
span[itemtype=quote]::after{
	content: '”'
}
#line-numbers{
	position: absolute;
	left: 450px;
	z-index: 4;
}
p[itemtype=subsection]{
	text-indent: 2em;
}
p[itemtype=paragraph]{
	text-indent: 2em;
    margin-left: 2em;
}
span[itemtype=header][empty]::after {
    content: 'Type your Header';
	color: #dbdbdb;
	font-style: italic;
    display: inline-block;
}
span[itemtype=del]{
  color:red;
  text-decoration: line-through;
}
span[itemtype=add]{
  color:green;
}
