span[itemtype=quote]::before{
	content: '“'
}
span[itemtype=quote]::after{
	content: '”'
}
[type='format'].bold{
  font-weight: bold;
}
[type='format'].italic{
  font-style: italic;
}
[type='format'].strikethrough{
  text-decoration: line-through;
}
[type='format'].underlined{
  text-decoration: underline;
}
.justify{
  text-align:justify;
}
.center{
  text-align:center;
}
.left{
  text-align:left;
}
.right{
  text-align:right;
}
#fonts-options{
  min-width: 200px;
}
.font-option{
  padding-left: 10px;
}
.font-arial-helvetica{
  font-family: Arial, Helvetica;
}
.font-times-new{
  font-family: Times New Roman, Times;
}
.font-courier{
  font-family: Courier New, Courier;
}
.font-palatino{
  font-family: Palatino;
}
.font-garamond{
  font-family: Garamond;
}
.font-bookman{
  font-family: Bookman;
}
.font-avant-garde{
  font-family: Avant Garde;
}

/* Track changes */
[track='del']{
	color: red;
	text-decoration: line-through;
}
[track='del']::after{
	content: ']';
	color: black;
	padding-right: 0.05in;
}
[track='del']::before{
	content: '[';
	color: black;
	padding-left: 0.05in;
}
[track='add']{
	text-decoration: underline;
}

#editor p {
	white-space: pre-wrap;
	margin-bottom: 0px;
}
#editor p[level='1'] {
  padding-left:0.15in;
}
#editor p[level='2'] {
  padding-left:0.3in;
}
#editor p[level='3'] {
  padding-left:0.45in;
}
#editor p[level='4'] {
  padding-left:0.6in;
}
#editor p[level='5'] {
  padding-left:0.75in;
}
#editor p[level='6'] {
  padding-left:0.9in;
}
#editor p[level='7'] {
  padding-left:1.05in;
}
#editor p[level='8'] {
  padding-left:1.2in;
}
#editor p[level='9'] {
  padding-left:1.35in;
}
#editor p[level='10'] {
  padding-left:1.5in;
}
#editor table,#editor th,#editor td {
  border: 1px #f0f0f0 dotted;
}
#editor table{
  width: 100%;
}
[itemtype='quote']{
	margin-top: 2em;
}
p[itemtype=subsection]{
	text-indent: 2em;
}
p[itemtype=paragraph]{
	text-indent: 2em;
    margin-left: 2em;
}
span[itemtype=header][empty]::after {
    content: 'Type your Header';
	color: #dbdbdb;
	font-style: italic;
    display: inline-block;
}
span[itemtype=del]{
  color:red;
  text-decoration: line-through;
}
span[itemtype=add]{
  color:green;
}
.diff-html-added {
  text-transform: uppercase;
  font-weight: bold;
}
.diff-html-removed{
  text-decoration: line-through;
}
.toolbar-option-selected{
	font-weight: bold;
	color:white !important;
}
[float]{
  position: absolute;
  background: red;
  top:0px;
  left:0px
  z-index: 4;
}
.lineNumber{
  position: absolute;
  left: -40px;
}
