.document {
	padding: 1in;
}
p[itemtype=section]{
	font-weight: bold;
	text-transform: uppercase;
}
p[itemtype=text][level=subsection], p[itemtype=subsection]{
	text-indent: 2em;
}
p[itemtype=text][level=paragraph], p[itemtype=paragraph]{
	text-indent: 2em;
	margin-left: 2em;
}
p[itemtype=text][level=subparagraph], p[itemtype=subparagraph]{
	text-indent: 2em;
	margin-left: 4em;
	text-align: left;
}
