.document {
	padding: 1in;
}
/*p::before{
	content: '<' attr(itemtype) '>';
	color: red;
}
p::after{
	content: '</' attr(itemtype) '>';
	color: red;
}
span::before{
	content: '<' attr(itemtype) '>';
	color: blue;
}
span::after{
	content: '</' attr(itemtype) '>';
	color: blue;
}*/
